<div class="cart-overlay" *ngIf="isOpen">
    <div class="cart">
        <div id="w">
            <header id="title">
                <h1>Cart</h1>
                <button class="close-btn" (click)="onClose()">Close</button>
            </header>
            <div id="page">
                <ng-container *ngIf="cartsItem.length > 0">
                    <table id="cart">
                        <thead>
                            <tr>
                                <th class="first">Photo</th>
                                <th class="second">Qty</th>
                                <th class="third">Product</th>
                                <th class="fourth">Line Total</th>
                                <th class="fifth">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="productitm" *ngFor="let item of cartsItem">
                                <td><img [src]="item.thumbnail" class="thumb"></td>
                                <td class="productQty">
                                    <button *ngIf="item.isOutOfStock" [disabled]="true">Out of Stock</button>
                                    <button (click)="reduceItem(item)">-</button>
                                    <div class="qtyinput"> {{ item.quantity }}</div>
                                    <button *ngIf="!item.isOutOfStock" (click)="addToCart(item)"
                                        [disabled]="item.quantity === item.stock">
                                        +
                                    </button>
                                </td>
                                <td>{{ item.title }}</td>
                                <td>${{ item.price * item.quantity }}</td>
                                <td>
                                    <span class="remove" (click)="removeItem(item)">
                                        <img src="https://i.imgur.com/h1ldGRr.png" alt="X">
                                    </span>
                                </td>
                            </tr>
                            <tr class="totalprice">
                                <td class="light">Total:</td>
                                <td colspan="2">&nbsp;</td>
                                <td colspan="2"><span class="thick">${{ total }}</span></td>
                            </tr>
                            <tr class="checkoutrow">
                                <td colspan="5" class="checkout"><button id="submitbtn">Checkout Now!</button></td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngIf="cartsItem.length === 0">
                    <p style="text-align: center;">Your cart is empty</p>
                </ng-container>
            </div>
        </div>
    </div>
</div>